.curved-slider{
    overflow: hidden;
    position: relative;
    background-color: black;
    --v-offset: 60px;
    --curve-height: 74px;
}
.curved-slider:before,
.curved-slider:after {
    content: "";
    z-index: 99;
    display: block;
    background-color: inherit;
    width: calc(100vw + 2 * var(--v-offset));
    height: var(--curve-height);
    position: absolute;
    pointer-events: none;
    border-radius: 45%;
    left: calc(-1 * var(--v-offset));
    right: calc(-1 * var(--v-offset));
}
.curved-slider:before {
    top: calc(-0.7 * var(--curve-height));
}
.curved-slider:after {
    bottom: calc(-0.7 * var(--curve-height));
}